div {
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

a button:hover {
  background-color: #286090; 
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 17px;
}


th {
  background-color: #337ab7; 
  color: #fff; 
  text-align: left;
  padding: 10px;
}

td {
  border: 1px solid #ccc; 
  padding: 10px;
}


.btn-success {
  background-color: #5cb85c; 
  color: #fff; 
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #449d44; 
}
